.w-form-formradioinput--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

    .w-form-formradioinput--inputType-custom.w--redirected-focus {
        box-shadow: 0 0 3px 1px #3898ec;
    }

    .w-form-formradioinput--inputType-custom.w--redirected-checked {
        border-width: 4px;
        border-color: #3898ec;
    }

.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
}

    .w-checkbox:before {
        content: " ";
        grid-area: 1 / 1 / 2 / 2;
        display: table;
    }

    .w-checkbox:after {
        content: " ";
        clear: both;
        grid-area: 1 / 1 / 2 / 2;
        display: table;
    }

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

    .w-checkbox-input--inputType-custom.w--redirected-checked {
        background-color: #3898ec;
        background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-color: #3898ec;
    }

    .w-checkbox-input--inputType-custom.w--redirected-focus {
        box-shadow: 0 0 3px 1px #3898ec;
    }

body {
    color: white;
    background-image: url('../Image/background.jpg');
    background-position: 0 0;
    background-size: auto;
    background-attachment: fixed;
    font-family: Times New Roman, TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 14px;
    line-height: 20px;
}

.top-section {
    background-color: #212121;
}

.create-account-heading {
    color: #a2875b;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 1200px;
    background-color: #212121;
}

.register-container.container {
    background-color: #212121;
}

.login-grid {
    grid-template-rows: auto;
}

.login-grid-div {
    padding: 18px;
}

.body {
    color: #fff;
}

.log-in-button {
    background-color: rgba(56, 152, 236, 0);
    border: 2px solid #fff;
    border-radius: 5px;
}

    .log-in-button:hover {
        color: #212121;
        background-color: #fff;
    }

.login-button-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
}

.navbar {
    background-color: #a36d3d;
}

.logo-name {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 34px;
}

.brand {
    padding-top: 8px;
}

.nav-link {
    color: #fff;
    font-size: 16px;
}

.user-type {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container.container {
    height: 100vh;
    background-color: #212121;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.log-in-wrapper {
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.register-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.login-forgot-password {
    color: #fff;
    margin-top: 10px;
}

    .login-forgot-password:hover {
        opacity: .6;
    }

.add-home-main-heading {
    color: #fff;
    text-align: center;
}

.add-home-form {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.add-home-label {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}

.add-home-text-field {
    height: 38px;
}

    .add-home-text-field.ah-short-1 {
        width: 125px;
        margin-right: 10px;
        display: inline-block;
    }

    .add-home-text-field.ah-short-2 {
        width: 190px;
        margin-right: 10px;
        display: inline-block;
    }

    .add-home-text-field.add-home-text-area {
        height: 100px;
        max-height: 110px;
        max-width: 100%;
        min-height: 90px;
        min-width: 100%;
    }

.add-home-form-block {
    color: #fff;
}

.add-home-button {
    width: 100px;
    background-color: rgba(56, 152, 236, 0);
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

    .add-home-button:hover {
        color: #212121;
        background-color: #fff;
    }

@media screen and (max-width: 991px) {
    .icon {
        font-size: 26px;
    }
}
