.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.chkList {
    display: inline-block;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  ojectbg.jpg');
    background-position: 0px 0px;
    background-size: auto;
    background-attachment: fixed;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    color: white;
    overflow: auto;
    font-size: 1
}

.top-section {
  background-color: #12121;
}

.create-account-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #a2875b;
  text-align: center;
}

.container {
  max-width: 100%;
}

.register-container.container {
  background-color: #2120px;
}

.register-container.container {
  background-color: #212121;
}

.login-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.login-grid-div {
  padding: 18px;
}

.body {
  color: #fff;
}

.log-in-button {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 5px;
  background-color: rgba(56, 152, 236, 0);
}

.log-in-button:hover {
  background-color: #fff;
  color: #212121;
}

.login-button-wrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #a36d3d;
}

.logo-name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 34px;
}

.brand {
  padding-top: 8px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
}

.user-type {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.log-in-wrapper {
  width: 600px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.register-wrapper {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.login-forgot-password {
  margin-top: 10px;
  color: #fff;
}

.login-forgot-password:hover {
  opacity: 0.6;
}

@media screen and (max-width: 991px) {
  .icon {
    font-size: 26px;
  }
}